<form action="/home" method="post">
<h1>Log In Below:</h1>
<label for="email">Email:</label>
<input type="email" name="email"><br>
<label for="password">Password:</label>
<input type="password" name="password">
<input type="button" name="login" value="Log In">
</form>