<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
<label for="name">User name:</label>
<input type="text" id="name" name="name" /><br><br>
<label for="email">User email:</label>
<input type="text" id="email" name="email" /><br><br>
<label for="password">User password:</label>
<input type="password" id="password" name="password"><br><br>
<input type="submit" value="Sign Up">
</form>


