<h1>Sign Up Below:</h1>
    <form method="post" action="/registrations">
    <label> User Name: </label>
    <input type="text" id="name" name="name">
    <label> User Email: </label>
    <input type="text" id="email" name="email">
    <label> User Password: </label>
    <input type="text" id="password" name="password">
    <button type="submit" id="id" value="submit">Sign Up</button>
    </form>

