<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
<input type="text" name="name" placeholder="Full Name">
<br>
<input type="text" name="email" placeholder="Email">
<br>
<input type="password" name="password" placeholder="Enter Password Here">
<input type="submit" value="Sign Up">
</form>

