<h1>Sign Up Below:</h1><br>

<form action="/registrations" method="POST">
    <p>
        <label for="name">Name:</label>
        <input type="text" name="name">
    </p>

    <p>
        <label for="email">Email:</label>
        <input type="text" name="email"><br>
    </p>

    <p>
        <label for="password">Password:</label>
        <input type="text" name="password"><br>
    </p>

    <button name="signup">Sign Up</button>
</form>



