<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    <input type="text" id="name" name="name"><br><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="text" id="email" name="email"><br><br>
    <input type="submit" value="Sign Up">
</form>